.sidebar{
   position: fixed;
   left: 0;
   bottom: 0;
   top: 55px;
   background-color: white;
   width:72px;
   z-index: 200;
   padding-top: 5px;

}
.sidebar-box{
   background-color: white;
   height: 74px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;

}
.sidebar-box:hover{
   background-color: rgb(235,235,235);

}
.sidebar-box img{
   height: 24px;
   margin-bottom: 4px;
   display: flex;
   align-items: center;
   justify-content: c;

   
}
.sidebar-box div{
   font-family: Roboto,Arial;
   font-size: 10px;
}
.sidebar-box:active{
   background-color: rgb(157, 157, 157);
   transition: 0.15s;

}
